.container {
  display: flex;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $--primary-white-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.flex-type,
.link-container {
  display: flex;
}

body {
  background-color: $--primary-white-color;
  color: $--primary-text-color;
  font-family: $font-family;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-type .link {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}
