.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

%nav-style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  margin-top: 0;
}
