$--primary-text-color: #757575;
$--text-title-color: #212121;
$--text-accent-color: #2196f3;
$--primary-white-color: #ffffff;
$--primary-icon-color: #afb1b8;
$--background-footer: #2f303a;
$--primary-logo-color: #000;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: Roboto, sans-serif;
$font-family-logo: Raleway, sans-serif;
