.hero-container {
  max-width: 1600px;
  display: block;
  text-align: center;
  background-color: $--primary-text-color;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      $--hero-background-bradient,
      $--hero-background-bradient
    ),
    url(../img/Header.jpg);
}

.hero-title {
  color: $--primary-white-color;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  @extend %button-style;

  &:hover,
  &:focus {
    color: $--text-title-color;
    outline: none;
  }
}
