$--primary-text-color: #757575;
$--text-title-color: #212121;
$--text-accent-color: #2196f3;
$--primary-white-color: #ffffff;
$--primary-icon-color: #afb1b8;
$--background-footer: #2f303a;
$--primary-logo-color: #000;
$--background-color-backdrop: rgba(0, 0, 0, 0.5);
$--background-icon-color: #f5f4fa;
$--footer-social-block-color: rgba(255, 255, 255, 0.1);
$--form-border-input: rgba(33, 33, 33, 0.2);
$--footer-border-input: rgba(255, 255, 255, 0.3);
$--footer-link-color: rgba(255, 255, 255, 0.6);
$--hero-background-bradient: rgba(47, 48, 58, 0.8);
$team-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
$team-border-radius: 0px 0px 4px 4px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: Roboto, sans-serif;
$font-family-logo: Raleway, sans-serif;
