//-------------GENERAL------------//
.container {
  display: flex;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $--primary-white-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.flex-type,
.link-container {
  display: flex;
}

body {
  background-color: $--primary-white-color;
  color: $--primary-text-color;
  font-family: $font-family;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-type .link {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
}

//-------------ADVANTAGE-BLOCK------------//
.advantage {
  @extend %block-state;

  & .container {
    margin-top: 0;
    margin-bottom: 0;
  }

  & .text {
    @extend %text-style;
  }

  & .subtitle {
    @extend %subtitle-style;
  }
}

.icon-advantage {
  display: block;
  height: 70px;
  width: 70px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 4px;
}

.advantage-card {
  width: calc((100% -120px) / 4);
  text-align: left;

  & .icon-background {
    display: flex;
    background-color: $--background-icon-color;
    justify-content: center;
  }
}

.advantage-card:not(:first-child) {
  @extend %card-interim-margin;
}

//-------------DUTIES-BLOCK------------//
.duties {
  @extend %block-state;

  & .title {
    @extend %title-style;
    margin-top: 0;
    margin-bottom: 50px;
  }

  & .subtitle {
    @extend %subtitle-style;
    display: flex;
    height: 70px;
    width: inherit;
    background-color: rgba(47, 48, 58, 0.8);
    color: $--primary-white-color;
    align-items: center;
    justify-content: center;
    margin: 0;

    position: absolute;
    bottom: 0;
  }

  .duties-card {
    display: flex;
    height: 294px;
    width: 370px;
    position: relative;

    &.desktop {
      background-image: url(../img/laptop.jpg);
    }

    &.mobile {
      background-image: url(../img/phone.jpg);
    }

    &.design {
      background-image: url(../img/display.jpg);
    }

    &:not(:first-child) {
      @extend %card-interim-margin;
    }
  }
}

//-------------TEAM-BLOCK------------//
.team {
  @extend %block-state;
  background-color: $--background-icon-color;

  & .container {
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
    background-color: $--background-icon-color;
  }

  & .title {
    @extend %title-style;
    display: inline-block;
    margin-top: 94px;
  }

  & .text {
    @extend %text-style;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0;
    margin-bottom: 16px;
  }

  & .subtitle {
    @extend %subtitle-style;
    color: $--text-title-color;
    font-style: normal;
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.team-card {
  background-color: $--primary-white-color;
  box-shadow: $team-box-shadow;
  border-radius: $team-border-radius;

  & .flex-type {
    padding: 0;
    justify-content: center;
    margin-bottom: 24px;
  }

  & %shell-style,
  .connect .shell {
    display: block;
    margin-right: 10px;
  }

  & .shell:nth-last-child(1) {
    margin-right: 0px;
  }

  &:not(:first-child) {
    @extend %card-interim-margin;
  }
}

.social-block {
  @extend %social-block-style;

  &:hover,
  &:focus {
    background-color: $--text-accent-color;
  }

  &:hover .social-link,
  &:focus .social-link {
    fill: $--primary-white-color;
  }
}

.social-link {
  @extend %social-link-style;
}

//-------------CLIENTS-BLOCK------------//
.clients {
  @extend %block-state;

  & .title {
    @extend %title-style;
    margin-top: 0;
    margin-bottom: 50px;
  }

  & .logo-1 {
    height: 49.23px;
    width: 44.27px;
    @extend %clients-logo-transition;
  }

  & .logo-2 {
    height: 52px;
    width: 40px;
    @extend %clients-logo-transition;
  }

  & .logo-3 {
    height: 42.6px;
    width: 41px;
    @extend %clients-logo-transition;
  }

  & .logo-4 {
    height: 42.02px;
    width: 79.66 / px;
    @extend %clients-logo-transition;
  }

  & .logo-5 {
    height: 47px;
    width: 59px;
    @extend %clients-logo-transition;
  }

  & .logo-6 {
    height: 45.44px;
    width: 88.48px;
    @extend %clients-logo-transition;
  }
}

.clients-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid $--primary-icon-color;
  border-radius: 4px;

  // transition-property: border;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms $timing-function;

  &:not(:first-child) {
    @extend %card-interim-margin;
  }

  &:hover {
    border: 1px solid $--text-accent-color;
  }

  &:hover .logo-1,
  &:hover .logo-2,
  &:hover .logo-3,
  &:hover .logo-4,
  &:hover .logo-5,
  &:hover .logo-6 {
    fill: $--text-accent-color;
  }
}

//-------------MODAL-BLOCK------------//
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $--background-color-backdrop;
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms $timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .modal {
    transform: translate(-50%) scale(0);
  }
}

.modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%) scale(1);
  transition: transform 250ms $timing-function;
  width: 448px;
  height: 501px;
  padding: 40px;
  background-color: $--primary-white-color;

  & .title {
    font-size: 20px;
    line-height: 1.15;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  &:nth-last-child(1) {
    margin-bottom: 25px;
  }

  & input {
    height: 36px;
  }

  & :focus {
    border: transparent;
    outline: transparent;
    border: solid 1px $--text-accent-color;
    border-radius: 4px;
  }
}

.form-lable {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  color: $--primary-text-color;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  transition: transform 250ms linear;
}

.form-input {
  padding-left: 42px;
  border: 1px solid $--form-border-input;
  border-radius: 4px;

  &:focus + .form-lable,
  &:not(:placeholder-shown) + .form-lable {
    color: $--text-accent-color;
    transform: translate(-23px, -34px);
  }

  &:focus ~ .icon-formbox {
    fill: $--text-accent-color;
  }
}

.icon-formbox {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: $--text-title-color;
}

.comment-lable {
  position: absolute;
  top: 20px;
  left: 16px;
  color: $--primary-text-color;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  transition: transform 250ms linear;
}

.input-comments {
  position: relative;
  height: 116px;
  resize: none;
  border: 1px solid $--form-border-input;
  border-radius: 4px;

  &:focus + .comment-lable,
  &:not(:placeholder-shown) + .comment-lable {
    color: $--text-accent-color;
    transform: translateY(-34px);
  }
}

.contract-conditions {
  color: $--text-accent-color;
  margin-left: 5px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $--primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);

  &:hover,
  &:focus {
    fill: $--text-accent-color;
  }
}

.icon-close {
  height: 18px;
  width: 18px;
}

.form-conditions {
  margin-bottom: 30px;

  & .checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.policy-lable {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-checked {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid $--text-title-color;
  margin-right: 8.5px;
  margin-left: 12px;
}

.checkbox:checked + .icon-checked {
  border: 2px solid $--text-accent-color;
  background-color: $--text-accent-color;
  background-image: url("../img/icon_check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .icon-checked {
  border: 2px solid $--text-accent-color;
}

.form-button {
  display: flex;
  justify-content: center;
}

.accept-button {
  @extend %button-style;

  &:hover,
  &:focus {
    color: $--text-title-color;
    outline: none;
  }
}
